<div id="id00" style="display:block;" class='show' onclick="myfunc2()">
click me now  <br>
To show code
</div>

<div id="code00">
<textarea cols="20" rows="20" id="textArea" style="display:none;font-size:18px;" class="hide"></textarea>
<script>
function myFunction() {
    var node = document.getElementById('id00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = textContent;
}

function myfunc2() {
 var selectedobj=document.getElementById('textArea');

  if(selectedobj.className=='hide'){  //check if classname is hide 
    selectedobj.style.display = "block";
    selectedobj.readOnly=false;
    selectedobj.className ='show';

    var node = document.getElementById('code00'),
    htmlContent = node.innerHTML,
    textContent = node.textContent;
    document.getElementById("textArea").value = htmlContent;

    var mytextObj =document.getElementById('id00');
    if(mytextObj.className == 'show'){
        mytextObj.style.display = "none";
        mytextObj.readOnly=false;
        mytextObj.className ='hide';
    }

  }else{
    selectedobj.style.display = "none";
    selectedobj.className ='hide';
 }
}
</script>
</div>
